<%= link_to "Edit this task", edit_path  %>

<h2> <%= @task.title %></h2>
<p><%= @task.details %></p>
<p>
  <% if @task.completed%>
    Completed
  <% else %>
    This task is not completed.
  <% end %>
</p>

<%= link_to "Back to List", tasks_path  %>
